#cuisine-image {

  background-image: url('http://ww3.hdnux.com/photos/44/52/10/7825731/3/1900x0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 280px;
  overflow: hidden;
  background-position: center;

  @include media (max-width 990px) {
    min-height: 170px;
  }

}
.cuisines {
	background: #EBEBEB;
	text-align: center;
	@include media (max-width 542px){
		overflow:scroll;
	}
}

.cuisines-block .button {

	@include media (max-width 780px){
		padding: 8px;
	}
}

.cuisines-block {
	@include media (max-width 542px){
		width: 542px;
	}
}

#cuisines-landing {
	text-align: center;

	h1 {
		text-align: center;
		font-family: serif;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	div {
		max-width: 750px; margin: 0 auto;
	}
}

.remove-cuisine {
	display: none;
}

.cuisine-title {

    bottom: 50px;
    position: absolute;
    max-width: 520px;
    background: rgba(250, 249, 244, 0.88);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 10px 0 0;

    @include media (max-width 670px){
      bottom: 30px;
    }

  h1 {
  	font-family:$sans-serif-light;
    text-align: center;
    margin: 1px 0 3px;;
    font-size: 2.5em;
    font-weight: 100;

    @include media(max-width $medium-breakpoint) {
      font-size:1.9em;
    }

    @include media(max-width $small-breakpoint) {
      font-size:1.5em;
    }

  }

  @include media (max-width 542px){
    width: 80%;
    padding-bottom: 5px;
  }
}
