.guide {

  position:relative;

  h5{
    position: absolute;
    font-size: 40px;
    bottom: 14px;
    color: #333;
    left: 15px;
    background: rgba(238, 233, 227, 0.86);
    font-weight: 100;
    font-family: "AntennaExtraLight", "Lato", "Helvetica Neue", sans-serif;
    padding: 8px;

    @include media (max-width 900px) {
      font-size: 30px !important;
      left:10;
    }
    @include media (max-width 600px) {
      font-size: 25px !important; 
    }
  }
}

#guide-image {

  background-image: url('../images/guide_wide.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 280px;
  overflow: hidden;

  @include media (max-width 990px) {
    background-image: url("../images/guide.jpg");
    min-height: 170px;
    background-position: center;
  }

  @include media (max-width $small-breakpoint) {
    background-image: url("../images/guide_wide.jpg");
  }

  @include media (max-width 542px){
  }

}

.guides {
  margin-bottom: 2em;
}


.guides-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 280px;
  overflow: hidden;

  @include media (max-width 990px) {
    min-height: 170px;
    background-position: center;
  }
}

 
#bars {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9609299/3/1900x0.jpg');
  background-position:center;
}

#brunch {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9608103/3/1900x0.jpg');
  background-position:center;
}

#classics {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9613772/3/1900x0.jpg');
  background-position:center 40%;
}

#fourstars {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9608254/3/1900x0.jpg');
  background-position:center;
}

#greatpizza {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9609208/3/1900x0.jpg');
  background-position:center;
}

#historic {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9613741/3/1900x0.jpg');
  background-position:center;
}

#new {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9712075/3/1900x0.jpg');
  background-position:center;
}

#oneofakind {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9609183/3/1900x0.jpg');
  background-position:center;
}

#openlate {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9613943/3/1900x0.jpg');
  background-position:center 65%;
}

#outdoor {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9610453/3/1900x0.jpg');
  background-position:center;
}

#privaterooms {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9608253/3/1900x0.jpg');
  background-position:center;
}

#saturdaylunch {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9609389/3/1900x0.jpg');
  background-position:center 30%;
}

#topburgers {
  background-image: url('http://ww4.hdnux.com/photos/44/45/53/9608714/3/1900x0.jpg');
  background-position:center 80%;
}

.guide-list {
  padding-top:1.2em;
}
