.thumbnail {
	border: none;
}
.thumbnail:hover, .thumbnail:focus {
    box-shadow: none;
}


.active {
	background:#fff;
}

.subregions-block .active {
	background: #AFAFAF;
}

.regions-block li:hover {
	background: #AFAFAF;
}
.button-regions:hover {
	background: #fff;
}

.mobile-title a:hover{
	color: #696969 !important;
}

.northbay.button{
	width: 129px;

	@include media(max-width 760px){
		width:72px;
	}
}

.sf-callout{
	text-align:center;
    margin-top: 2em;

	a{
		color: #E3474F;

		&:hover{
		text-decoration: underline;
		}
	}
}
