nav.sections, nav.select-cuisine, nav.select-region, nav.select-guide {
  display: block;
  font-size: 0.9em;
  text-align: center;

  a {
    cursor: pointer;
    display: inline-block;
    padding: 0.7em 0.7em 0;
    transition: none;
    color: #333;
    font-family:$sans-serif-light;
    text-transform: uppercase;
    padding-bottom: 7px;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    font-size:1.3em;
    text-align: center;
    width: 100%;
    height: 50px;

    @include media (max-width 670px) {
      width: 100%;
      height: 40px;
      font-size: 14px;
      text-align:left;
    }
  }

  li {
    position: relative;

    @include media (max-width $small-breakpoint){
        width: 24%;
    }
  }

  .active {
    color: #333;
    background: #DADADA;

    &:hover {
      text-decoration: none;
    }
  }

}


.top100-nav {
  a {
    &.active {
      background: #FAF9F4 !important;
    }
  }
}

nav.sections {
  
  li {

  }

}

.share-div {
  width:100%;
  text-align:center;
  margin-bottom:0.5em;
}

#social {
  text-align: center;

  a {
    font-size: 1.6em;
    padding: 1% 2%;
    color: #696969;

    @include media (max-width $small-breakpoint) {
      font-size: 1.3em;
    }
  
    &:hover {
      color:#fff;
    }
  }
}

.active-page {
  background: #EBEBEB;
  padding-bottom: 11px !important;
}

.mobile-search {
  display:none;

  @include media (max-width 620px){
    display:inline-block;
  }
}

.search {

  @include media (max-width 620px){
    display:none;
  }
}
