
.san-subregion, .north-subregion, .east-subregion, .south-subregion {
  display: none;
  &.active {
    display: inline-block;
  }
}

.restaurant {
  display: none;
  &.active {
    display: block;
    clear: none !important;
  }
}

header {

  background-color:#faf9f4;
  width: 100%;
  position:relative;

	.top100-logo {
  	max-width: 120px;
  	margin-left: 2%;
  	width: 100%;
    position: absolute;

	    @include media(max-width $medium-breakpoint) {
	      max-width: 90px;

	    }
  	}


	ul {
	  text-align: justify;
	  width: 36em;
	  height: 50px;
	}
}

li {
  display: inline-block; /* 6 */
}


.centerpiece {
	width:100%;

	img {
	  width:100%;
	}
}

.title {

    bottom: 50px;
    position: absolute;
    max-width: 520px;
    background: rgba(250, 249, 244, 0.88);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 10px 0 0;

  h1 {
  	font-family:$sans-serif-light;
    text-align: center;
    margin: 1px 0 3px;;
    font-size: 2.5em;
    font-weight: 100;

    @include media(max-width $medium-breakpoint) {
      font-size:1.9em;
    }

    @include media(max-width $small-breakpoint) {
      font-size:1.5em;
    }
  }
}

.logo {
    text-align: center;
    display: block;

    img {
      box-sizing: content-box;
      height: 30px;
      margin-top:1em;

      @include media(max-width $small-breakpoint) {
        height: 15px;
        margin-top: 0;
      }
    }
  }
.restaurants {
    padding: 3em 0 5em;
}

.restaurant, .restaurant-index {
	margin-bottom: 2em;
}

#top-image {
  
  background-image: url('../images/restaurant_wide.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 280px;
  overflow: hidden;

  @include media (max-width 990px) {
    background-image: url("../images/restaurant.jpg");
    background-position: center bottom;
  }

  @include media (max-width $small-breakpoint) {
    min-height: 210px;
    background-image: url("../images/restaurant_wide.jpg");
  }
  
}
#intro-text {
  display: inline-block;
  padding: 2em 0 0;

  p {
  
    
    @include media (max-width $small-breakpoint) {
    font-size:0.9em;
    }
  }
}

.button {
  -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: $sans-serif;
    margin: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
    background-color: #EBEBEB;
    color: #333;
    transition: background-color 300ms ease-out;

    &:hover {
      background-color: #fff;
      color: #333;
    }
    &:active {
      background-color: #fff;
      color: #333;
    }
}
