.regions {
	background: #EBEBEB;
	text-align: center;
  @include media (max-width 360px){
    overflow:scroll;
  }
}

.regions-block {
  @include media (max-width 360px){
    width: 360px;
  }
}

.regions-block .button {

  @include media (max-width 780px){
    padding: 8px;
  }
}
.subregions-block .button-regions {

  @include media (max-width 780px){
    padding: 8px;
  }
}
.subregions {
	background: #AFAFAF;
	text-align: center;

  @include media (max-width 655px){
    overflow:scroll;
  }

	&:active {
		background:#AFAFAF;
	}
}

.sf-subregion {
  margin:0;
  
  @include media (max-width 655px){
    width:655px;
  }
}

.button-regions {
  -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: $sans-serif;
    margin: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: none;
    padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
    background-color: #AFAFAF;
    color: #333;
    transition: background-color 300ms ease-out;

    &:hover {
      background: #AFAFAF;
      color: #333;
    }
    &:active {
      background: #fff;
      color: #333;
    }
}

.region-active {
	background: #AFAFAF;
}

.subregion-active {
	background: #fff !important;
}

.region-title {

    bottom: 50px;
    position: absolute;
    max-width: 520px;
    background: rgba(250, 249, 244, 0.88);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 10px 0 0;

    @include media (max-width 670px){
      bottom: 30px;
    }

  h1 {
    font-family:$sans-serif-light;
    text-align: center;
    margin: 1px 0 3px;;
    font-size: 2.5em;
    font-weight: 100;

    @include media(max-width $medium-breakpoint) {
      font-size:1.9em;
    }

    @include media(max-width $small-breakpoint) {
      font-size:1.5em;
    }

  }

  @include media (max-width 542px){
    width: 80%;
    padding-bottom: 5px;
  }
}

#region-image {

  background-image: url('../images/region_wide.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 280px;
  overflow: hidden;

  @include media (max-width 990px) {
    background-image: url("../images/region.jpg");
    min-height: 170px;
    background-position: center;
  }

  @include media (max-width $small-breakpoint) {
    background-image: url("../images/region_wide.jpg");
  }

  @include media (max-width 542px){
  }

}