.search-container {
	background: #EBEBEB;
    width: 100%;
    margin: 0 auto;
    padding: 2em 1em;

    span {
	    display: block;
	    text-align: center;
    }

    input {
	    max-width: 300px;
	    margin: 0 auto;
    }
}

.search-restaurant {
	@include media (max-width 452px) {
		min-height: 226px;
		margin-bottom: 0;
	}
	@include media (max-width 360px) {
		min-height: 190px;
		margin-bottom: 0;
	}
}
