<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block meta %}{% endblock %}
    <link rel="icon" href="http://www.sfchronicle.com/favicon.ico?v=2">
    {% block head %}{% endblock %}
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    

  </head>
  <body class="{% if config.DEBUG %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main>

    <header>
        <div id="top-image" class="large-12">
            
          {% block topimage %}{% endblock %}
            <div class="top100-logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" />
            </div>
        

            <div class="title">
                {% block header %} {% endblock %}
                {% block social %}{% endblock %}
            </div>
        </div>

        {%include 'components/nav.html' %}
    </header>

    {% block content %}{% endblock %}

    <footer class="callout large secondary">
        <div class="row">
            <div class="large-12 columns" style="text-align:center;">
                <div class="top100-logo">
                  <img src="{{ url_for('static', filename='images/logo.png') }}" style="width: 200px;"/>
                </div><br>
                <p>Written by <span class="credit-name">Michael Bauer</span> &bull; Edited by <span class="credit-name">Editors</span> &bull; Web development by <span class="credit-name">Emma O'Neill and Lucio Villa</span> &bull; Images from <span class="credit-name">Photographers</span>
                </p>
            </div>

        </div>
    </footer>
    
    {% assets filters="uglifyjs", output="scripts/vendor.%(version)s.js",
              "bower_components/jquery/dist/jquery.min.js",
              "bower_components/foundation-sites/js/foundation.core.js",
              "bower_components/foundation-sites/js/foundation.reveal.js",
              "bower_components/foundation-sites/js/foundation.accordion.js",
              "bower_components/foundation-sites/js/foundation.util.keyboard.js",
              "bower_components/foundation-sites/js/foundation.util.box.js",
              "bower_components/foundation-sites/js/foundation.util.triggers.js",
              "bower_components/foundation-sites/js/foundation.util.mediaQuery.js",
              "bower_components/foundation-sites/js/foundation.util.motion.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

    {% block javascript %}{% endblock %}

    {% if config.DEBUG %}
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}

    

</main>

</body>
</html>
