<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block meta %}{% endblock %}
    <link rel="icon" href="http://www.sfchronicle.com/favicon.ico?v=2">
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">

    <!-- Begin Hearst analytics -->
    <script type="text/javascript">
        var omni_channelPath = "Food :: Top 100 Restaurants 2016{% block channelpath %}{% endblock %}";
        var omni_title = "{% block hearst_title %}{% endblock %}";
        var omni_className = "{% block hearst_class %}channel{% endblock %}";
        var omni_publicationDate = "2016-04-27 00:00:00";
        var omni_authorName = "{% block author %}Lucio Villa, Michael Bauer, Emma O'Neill, Kristen Go, Russell Yipp {% endblock %}";
        var omni_authorTitle = "San Francisco Chronicle staff";
    </script>
    <!-- Hearst analytics: Ensighten -->
    <script type="text/javascript">
      (function(e) {
        var t = '//nexus.ensighten.com/hearst/news/Bootstrap.js';
        if (e.cookie.indexOf("nsghtn") > -1) {
          if(e.cookie.indexOf("nsghtn=test-dev") > -1) {
          console.log("Ensighten :: Test-Dev"); t = "//nexus-test.ensighten.com/hearst/news-dev/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=test") > -1) {
          console.log("Ensighten :: Test"); t = "//nexus-test.ensighten.com/hearst/news/Bootstrap.js";
          } else if(e.cookie.indexOf("nsghtn=dev") > -1) {
          console.log("Ensighten :: Dev"); t = "//nexus.ensighten.com/hearst/news-dev/Bootstrap.js";
          }
        }
        e.write("<scr"+"ipt src='"+e.location.protocol+t+"'></scr"+"ipt>");
      })(document);
    </script>
    <!-- End Hearst analytics: Ensighten -->
    <!-- End Hearst analytics -->

    <!-- BEGIN TWITTER SUMMARY CARD -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Top 100 Restaurants 2016">
    <meta name="twitter:site" content="@sfchronicle">
    <meta name="twitter:url" content="http://projects.sfchronicle.com/2016/top-100-restaurants{% block twitter_url %}{% endblock %}">

    <!-- Social sharing meta -->
    <meta name="description" content="{% block page_description %}{% endblock %}">
    <meta property="fb:app_id" content="537896802938133"/>
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% block fb_title %}{% endblock %}">
    <meta property="og:site_name" content="San Francisco Chronicle">
    <meta property="og:url" content="http://projects.sfchronicle.com/2016/top-100-restaurants{% block fb_url %}{% endblock %}">
    <meta property="og:image" content="{% block fb_image %}{% endblock %}">
    <meta property="og:description" content="{% block fb_description %}Michael Bauer: Dining is more than sustenance — it’s pure, unadulterated joy. Explore the best of Bay Area dining, from brunch to the classics.{% endblock %}">


  </head>
  <body class="{% if config.DEBUG %}debug{% endif %}">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main>

    <header>
        {% block header %} {% endblock %}
        {%include 'components/nav.html' %}
    </header>

    {% block content %}{% endblock %}

    <footer class="callout large secondary">
        <div class="row">
            <div class="large-12 columns" style="position:relative;">
                <div class="top100-logo">
                  <img src="{{ url_for('static', filename='images/logo.png') }}" style="width: 250px;"/>
                </div>
                <div class="scroll-to"><a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i><br>Scroll to top</a></div>
                <br>
                <p>Written by Michael Bauer<br>
                  Edited by Kitty Morgan & Paolo Lucchesi<br>
                  Images by John Storey & Randi Lynn Beach & Liz Hafalia & Eric Risberg & Brant Ward & Craig Lee & Carlos Avila Gonzalez & Amy Osborne & Michael Short & Kirsten Aguilar & Alex Washburn & Jason Henry & Russell Yip & John Lee & Laura Morton & Preston Gannaway & Mike Kepka & Brian A. Pounds & Noah Berger & Bloomberg & Paul Chinn & Mike Kepka<br>
                  Web development by Emma O'Neill & Lucio Villa<br>
                  Design by Lucio Villa
                </p>
            </div>

        </div>
    </footer>

    {% assets filters="uglifyjs", output="scripts/vendor.%(version)s.js",
              "bower_components/jquery/dist/jquery.min.js",
              "bower_components/foundation-sites/js/foundation.core.js",
              "bower_components/foundation-sites/js/foundation.reveal.js",
              "bower_components/foundation-sites/js/foundation.accordion.js",
              "bower_components/foundation-sites/js/foundation.util.keyboard.js",
              "bower_components/foundation-sites/js/foundation.util.box.js",
              "bower_components/foundation-sites/js/foundation.util.triggers.js",
              "bower_components/foundation-sites/js/foundation.util.mediaQuery.js",
              "bower_components/foundation-sites/js/foundation.util.motion.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

    {% block javascript %}{% endblock %}

    {% if config.DEBUG %}
    <script>document.write('<script src="http://'
        + location.host.split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')</script>
    {% endif %}



</main>

</body>
</html>
