{% extends 'base.html' %}

{% block title %}Cuisines | SF Chronicle{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div class="cuisines">
	<ul class="cuisines-block">
		<li class="american cuisine button">American</li>
		<li class="belgian cuisine button">Belgian</li>
		<li class="british cuisine button">British</li>
		<li class="chinese cuisine button">Chinese</li>
		<li class="drink-centric cuisine button">Drink-centric</li>
		<li class="french cuisine button">French</li>
		<li class="greek cuisine button">Greek</li>
		<li class="hawaiian cuisine button">Hawaiian</li>
		<li class="indian cuisine button">Indian</li>
		<li class="italian cuisine button">Italian</li>
		<li class="japanese cuisine button">Japanese</li>
		<li class="mexican cuisine button">Mexican</li>
		<li class="moroccan cuisine button">Moroccan</li>
		<li class="northerncalifornia cuisine button">Northern California</li>
		<li class="seafood cuisine button">Seafood</li>
		<li class="spanish cuisine button">Spanish</li>
		<li class="scandinavian cuisine button">Scandinavian</li>
		<li class="thai cuisine button">Thai</li>
		<li class="vietnamese cuisine button">Vietnamese</li>
	</ul>
</div>

<div id="top100" class="row small-up-2 large-up-4 restaurants">
	{% for r in restaurants %}
	<div class="column restaurant {{ r.Cuisine }}">
		<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="http://placehold.it/300x200"></a>
		<h5>{{ r.Name }}</h5>
	</div>
	{% endfor %}
</div>

{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });

	$(".cuisine").click(function() {
		$(".American").removeClass("active");
		$(".Belgian").removeClass("active");
		$(".British").removeClass("active");
		$(".Chinese").removeClass("active");
		$(".Drink-centric").removeClass("active");
		$(".French").removeClass("active");
		$(".Greek").removeClass("active");
		$(".Hawaiian").removeClass("active");
		$(".Indian").removeClass("active");
		$(".Italian").removeClass("active");
		$(".Japanese").removeClass("active");
		$(".Mexican").removeClass("active");
		$(".Moroccan").removeClass("active");
		$(".Northern").removeClass("active");
		$(".Seafood").removeClass("active");
		$(".Spanish").removeClass("active");
		$(".Scandinavian").removeClass("active");
		$(".Thai").removeClass("active");
		$(".Vietnamese").removeClass("active");
	});

	$(".american").click(function() {
		console.log("Chose American.");
		$(".American").addClass("active");
	});
	$(".belgian").click(function() {
		console.log("Chose Belgian.");
		$(".Belgian").addClass("active");
	});
	$(".british").click(function() {
		console.log("Chose British.");
		$(".British").addClass("active");
	});
	$(".chinese").click(function() {
		console.log("Chose chinese.");
		$(".Chinese").addClass("active");
	});
	$(".drink-centric").click(function() {
		console.log("Chose drink-centric.");
		$(".Drink-centric").addClass("active");
	});
	$(".french").click(function() {
		console.log("Chose French.");
		$(".French").addClass("active");
	});
	$(".greek").click(function() {
		console.log("Chose Greek.");
		$(".Greek").addClass("active");
	});
	$(".hawaiian").click(function() {
		console.log("Chose Hawaiian.");
		$(".Hawaiian").addClass("active");
	});
	$(".indian").click(function() {
		console.log("Chose Indian.");
		$(".Indian").addClass("active");
	});
	$(".italian").click(function() {
		console.log("Chose Italian.");
		$(".Italian").addClass("active");
	});
	$(".japanese").click(function() {
		console.log("Chose Japanese.");
		$(".Japanese").addClass("active");
	});
	$(".mexican").click(function() {
		console.log("Chose Mexican.");
		$(".Mexican").addClass("active");
	});
	$(".moroccan").click(function() {
		console.log("Chose Moroccan.");
		$(".Moroccan").addClass("active");
	});
	$(".northerncalifornia").click(function() {
		console.log("Chose Northern California.");
		$(".Northern").addClass("active");
	});
	$(".seafood").click(function() {
		console.log("Chose Seafood.");
		$(".Seafood").addClass("active");
	});
	$(".spanish").click(function() {
		console.log("Chose Spanish.");
		$(".Spanish").addClass("active");
	});
	$(".scandinavian").click(function() {
		console.log("Chose Scandinavian.");
		$(".Scandinavian").addClass("active");
	});
	$(".thai").click(function() {
		console.log("Chose Thai.");
		$(".Thai").addClass("active");
	});
	$(".vietnamese").click(function() {
		console.log("Chose Vietnamese.");
		$(".Vietnamese").addClass("active");
	});


</script>
{% endblock %}
