{% extends 'base.html' %}

{% block title %}Cuisines | SF Chronicle{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div class="cuisines">
	<ul class="cuisines-block">
		<li id="american" class="american cuisine button">American</li>
		<li id="belgian" class="belgian cuisine button">Belgian</li>
		<li class="british cuisine button">British</li>
		<li class="chinese cuisine button">Chinese</li>
		<li class="drink-centric cuisine button">Drink-centric</li>
		<li class="french cuisine button">French</li>
		<li class="greek cuisine button">Greek</li>
		<li class="hawaiian cuisine button">Hawaiian</li>
		<li class="indian cuisine button">Indian</li>
		<li class="italian cuisine button">Italian</li>
		<li class="japanese cuisine button">Japanese</li>
		<li class="mexican cuisine button">Mexican</li>
		<li class="moroccan cuisine button">Moroccan</li>
		<li class="northerncalifornia cuisine button">Northern California</li>
		<li class="seafood cuisine button">Seafood</li>
		<li class="spanish cuisine button">Spanish</li>
		<li class="scandinavian cuisine button">Scandinavian</li>
		<li class="thai cuisine button">Thai</li>
		<li class="vietnamese cuisine button">Vietnamese</li>
	</ul>
</div>


<div id="top100" class="row restaurants small-up-2 medium-up-3 large-up-4">

	<div id="cuisines-landing">
		<h1>Cuisines</h1>
		<p>The favorite weekend meal, reimagined by great chefs. Browse restaurants by cuisines above.</p>
		<div>
			<img src="http://ww4.hdnux.com/photos/36/00/01/7864411/3/1600x1600.jpg">
		</div>
	</div>

	{% for r in restaurants %}
	<div class="columns restaurant {{ r.Cuisine }} {{ r.Cuisine|lower }}">
		<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="http://placehold.it/300x200"></a>
		<h5>{{ r.Name }}</h5>
	</div>
	{% endfor %}
</div>

{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });

	$(".cuisine").click(function() {
		$(".American").removeClass("active active-secondary");
		$(".Belgian").removeClass("active active-secondary");
		$(".British").removeClass("active active-secondary");
		$(".Chinese").removeClass("active active-secondary");
		$(".Drink-centric").removeClass("active active-secondary");
		$(".French").removeClass("active active-secondary");
		$(".Greek").removeClass("active active-secondary");
		$(".Hawaiian").removeClass("active active-secondary");
		$(".Indian").removeClass("active active-secondary");
		$(".Italian").removeClass("active active-secondary");
		$(".Japanese").removeClass("active active-secondary");
		$(".Mexican").removeClass("active active-secondary");
		$(".Moroccan").removeClass("active active-secondary");
		$(".Northern").removeClass("active active-secondary");
		$(".Seafood").removeClass("active active-secondary");
		$(".Spanish").removeClass("active active-secondary");
		$(".Scandinavian").removeClass("active active-secondary");
		$(".Thai").removeClass("active active-secondary");
		$(".Vietnamese").removeClass("active active-secondary");
		$("#cuisines-landing").addClass("remove-cuisine");
	});

	$(".american").click(function() {
		$(".American").addClass("active");
		window.location.hash = 'american';
	});
	$(".belgian").click(function() {
		$(".Belgian").addClass("active");
		$(".British").addClass("active-secondary");
		$(".Greek").addClass("active-secondary");
		window.location.hash = 'belgian';
	});
	$(".british").click(function() {
		$(".British").addClass("active");
		$(".Belgian").addClass("active-secondary");
		$(".Greek").addClass("active-secondary");
		window.location.hash = 'british';
	});
	$(".chinese").click(function() {
		$(".Chinese").addClass("active");
		window.location.hash = 'chinese';
	});
	$(".drink-centric").click(function() {
		$(".Drink-centric").addClass("active");
		window.location.hash = 'drink-centric';
	});
	$(".french").click(function() {
		$(".French").addClass("active");
		window.location.hash = 'french';
	});
	$(".greek").click(function() {
		$(".Greek").addClass("active");
		$(".Belgian").addClass("active-secondary");
		$(".British").addClass("active-secondary");
		window.location.hash = 'greek';
	});
	$(".hawaiian").click(function() {
		$(".Hawaiian").addClass("active");
		window.location.hash = 'hawaiian';
	});
	$(".indian").click(function() {
		$(".Indian").addClass("active");
		$(".Vietnamese").addClass("active-secondary");
		$(".Thai").addClass("active-secondary");
		window.location.hash = 'indian';
	});
	$(".italian").click(function() {
		$(".Italian").addClass("active");
		window.location.hash = 'italian';
	});
	$(".japanese").click(function() {
		$(".Japanese").addClass("active");
		window.location.hash = 'japanese';
	});
	$(".mexican").click(function() {
		$(".Mexican").addClass("active");
		window.location.hash = 'mexican';
	});
	$(".moroccan").click(function() {
		$(".Moroccan").addClass("active");
		window.location.hash = 'moroccan';
	});
	$(".northerncalifornia").click(function() {
		$(".Northern").addClass("active");
		window.location.hash = 'northern';
	});
	$(".seafood").click(function() {
		$(".Seafood").addClass("active");
		window.location.hash = 'seafood';
	});
	$(".spanish").click(function() {
		$(".Spanish").addClass("active");
		window.location.hash = 'spanish';
	});
	$(".scandinavian").click(function() {
		$(".Scandinavian").addClass("active");
		window.location.hash = 'scandinavian';
	});
	$(".thai").click(function() {
		$(".Thai").addClass("active");
		$(".Indian").addClass("active-secondary");
		$(".Vietnamese").addClass("active-secondary");
		window.location.hash = 'thai';
	});
	$(".vietnamese").click(function() {
		$(".Vietnamese").addClass("active");
		$(".Thai").addClass("active-secondary");
		$(".Indian").addClass("active-secondary");
		window.location.hash = 'vietnamese';
	});



	$('li').on('click',function(){
  	$('li').removeClass('active');
  	$(this).addClass('active');
	});

	var url = window.location.hash;
	var hash;
	if (url.indexOf('#') > -1){
	    hash = url.split('#')[1];
	}
	$(function(){

		$('.'+hash).each(function(){
			$(this).addClass('active');
		});
	});

	$(function() {
	  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active-page');
	});

</script>
{% endblock %}
