{% extends 'base.html' %}

{% block title %}Regions | SF Chronicle{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

	<div class="regions">
		<ul class="regions-block">
		  	<li class="oneofakind guide button">One of a Kind</li>
		  	<li class="greatpizza guide button">Great Pizza</li>
			<li class="topburgers guide button">Top Burgers</li>
			<li class="openlate guide button">Open Late</li>
			<li class="exceptionalbars guide button">Exceptional Bars</li>
			<li class="bestofbrunch guide button">Best of Brunch</li>
			<li class="outdoor guide button">Outdoor</li>
			<li class="saturdaylunch guide button">Saturday Lunch</li>
			<li class="top100classics guide button">Top 100 Classics</li>
			<li class="historic guide button">Historic</li>
			<li class="views guide button">Views</li>
			<li class="new guide button">New</li>
			<li class="privaterooms guide button">Private Rooms</li>
			<li class="tastingmenus guide button">Tasting Menus</li>
			<li class="fourstars guide button">Four Stars</li>
		</ul>
	</div>


	<div id="top100" class="row small-up-2 large-up-4 restaurants">

		{% for g in guides %}
			
			{% if (g.OneofaKind == 'x') %}

				

				<div class="column OneofaKind guide">
					<a href="/{{ restaurant }}"><img class="thumbnail" src="http://placehold.it/300x200"></a>
					<h5>{{g.Name}}</h5>
				</div>



			{% endif %}

		{% endfor %}

	</div>


{% endblock %}

{% block javascript %}
<script>

  $(document).ready(function() {
    App.init();
  });

</script>
{% endblock %}
