{% extends 'base.html' %}

{% block title %}Top 100 Classics - Guides | SF Chronicle{% endblock %}

{% block hearst_title %}Top 100 Restaurants: Top 100 Classics{% endblock %}
{% block channelpath %} :: Guide :: Top 100 Classics{% endblock %}

{% block twitter_url %}/classics/{% endblock %}
{% block fb_title %}Where to find Top 100 classics{% endblock %}
{% block fb_url %}/classics/{% endblock %}
{% block fb_image %}http://projects.sfchronicle.com/2016/top-100-restaurants/social/top100guide_classics.jpg{% endblock %}
{% block fb_description %}Top 100 Restaurants: Explore the Bay Area stars that have made Michael Bauer's list for more than 20 years.{% endblock %}

{% block head %}

{% endblock %}

{% block header %}
<div id="classics" class="large-12 guides-image">
            
    <div class="top100-logo">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" />
    </div>

    <div class="cuisine-title">
    	<h1>Top 100 Classics</h1>
    	
    	<div id="social">
			<a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//sfchronicle.com/Top100restaurants&amp;text={{"Where to find classic Bay Area dining spots."|urlencode}}%20&amp;hashtags=Top100Restaurants">
				<i class="fa fa-twitter"></i>
			</a>
			<a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Ftop-100-restaurants%2Fguide%2Fclassics%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
				<i class="fa fa-facebook"></i>
			</a>
			<a id="mail-icon" href="mailto:?subject=Top%2F100%2FBay%2FArea%2FRestaurants%2F2016%2F–%2FA%2Fcurated%2Fguide%2Fby%2Fthe%2FSan%2FFrancisco%2FChronicle.&body=http://sfchronicle.com/Top100restaurants">
				<i class="fa fa-envelope" aria-hidden="true"></i>
			</a>
		</div>

    </div>
</div>
{% endblock %}

{% block content %}

	<div class="regions">
		<ul class="regions-block">
		  	<a href="{{ url_for('oneofakind_view') }}"><li class="oneofakind button">One of a Kind</li></a>
		  	<a href="{{ url_for('pizza_view') }}"><li class="greatpizza button">Great Pizza</li></a>
			<a href="{{ url_for('burger_view') }}"><li class="topburgers button">Top Burgers</li></a>
			<a href="{{ url_for('late_view') }}"><li class="openlate button">Open Late</li></a>
			<a href="{{ url_for('bars_view') }}"><li class="exceptionalbars button">Exceptional Bars</li></a>
			<a href="{{ url_for('brunch_view') }}"><li class="bestofbrunch button">Best of Brunch</li></a>
			<a href="{{ url_for('outdoor_view') }}"><li class="outdoor button">Outdoor</li></a>
			<a href="{{ url_for('saturdaylunch_view') }}"><li class="saturdaylunch button">Saturday Lunch</li></a>
			<a href="{{ url_for('classics_view') }}"><li class="top100classics button">Top 100 Classics</li></a>
			<a href="{{ url_for('historic_view') }}"><li class="historic button">Historic</li></a>
			<a href="{{ url_for('new_view') }}"><li class="new button">New</li></a>
			<a href="{{ url_for('private_view') }}"><li class="privaterooms button">Private Rooms</li></a>
			<a href="{{ url_for('fourstars_view') }}"><li class="fourstars button">Four Stars</li></a>
		</ul>
	</div>


	<div id="top100" class="row small-up-2 medium-up-3 large-up-4 restaurants">

		{% for g in guides %}
			
			{% if (g.Top100Classics == 'x') %}

				{% for r in restaurants %}
					{% if g.Name == r.Name %}
				<div class="column guides">
					<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="{{r.thumbnail}}"></a>
					<h5>{{r.Name}}</h5>
				</div>
				{% endif %}

				{% endfor %}



			{% endif %}

		{% endfor %}

	</div>

	{%include 'components/_footer-wide.html'%}

{% endblock %}

{% block javascript %}
<script>

  $(document).ready(function() {
    App.init();
  });

</script>
{% endblock %}
