{% extends 'base.html' %}

{% block title %}Four Stars - Top 100 Restuarant Guide | SF Chronicle{% endblock %}

{% block hearst_title %}Top 100 Restaurants: Four Stars{% endblock %}
{% block channelpath %} :: Guide :: Four Stars{% endblock %}

{% block head %}

{% endblock %}

{% block header %}
<div id="fourstars" class="large-12 guides-image">
            
    <div class="top100-logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" />
    </div>

    <div class="cuisine-title">
    	<h1>Four Stars</h1>
    	{% include 'components/cuisines_social.html' %}

    </div>
</div>
{% endblock %}

{% block content %}

	<div class="regions">
		<ul class="regions-block">
		  	<a href="{{ url_for('oneofakind_view') }}"><li class="oneofakind button">One of a Kind</li></a>
		  	<a href="{{ url_for('pizza_view') }}"><li class="greatpizza button">Great Pizza</li></a>
			<a href="{{ url_for('burger_view') }}"><li class="topburgers button">Top Burgers</li></a>
			<a href="{{ url_for('late_view') }}"><li class="openlate button">Open Late</li></a>
			<a href="{{ url_for('bars_view') }}"><li class="exceptionalbars button">Exceptional Bars</li></a>
			<a href="{{ url_for('brunch_view') }}"><li class="bestofbrunch button">Best of Brunch</li></a>
			<a href="{{ url_for('outdoor_view') }}"><li class="outdoor button">Outdoor</li></a>
			<a href="{{ url_for('saturdaylunch_view') }}"><li class="saturdaylunch button">Saturday Lunch</li></a>
			<a href="{{ url_for('classics_view') }}"><li class="top100classics button">Top 100 Classics</li></a>
			<a href="{{ url_for('historic_view') }}"><li class="historic button">Historic</li></a>
			<a href="{{ url_for('new_view') }}"><li class="new button">New</li></a>
			<a href="{{ url_for('private_view') }}"><li class="privaterooms button">Private Rooms</li></a>
			<a href="{{ url_for('fourstars_view') }}"><li class="fourstars button">Four Stars</li></a>
		</ul>
	</div>


	<div id="top100" class="row small-up-2 medium-up-3 large-up-4 restaurants">

		{% for g in guides %}
			
			{% if (g.FourStars == 'x') %}

				{% for r in restaurants %}
					{% if g.Name == r.Name %}
				<div class="column OneofaKind guides">
					<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="{{r.thumbnail}}"></a>
					<h5>{{r.Name}}</h5>
				</div>
				{% endif %}

				{% endfor %}



			{% endif %}

		{% endfor %}

	</div>


{% endblock %}

{% block javascript %}
<script>

  $(document).ready(function() {
    App.init();
  });

</script>
{% endblock %}
