{% extends 'base.html' %}

{% block title %}Guides | SF Chronicle{% endblock %}

{% block hearst_title %}Top 100 Restaurants: Guides{% endblock %}
{% block channelpath %} :: Guides{% endblock %}

{% block head %}

{% endblock %}

{% block header %}
    <h1>GUIDES</h1>
{% endblock %}

{% block social %}
	{% include 'components/guides_social.html' %}
{% endblock %}

{% block content %}





	<div id="top100" class="row small-up-2 medium-up-3 large-up-4 restaurants">
	  	<div class="column oneofakind guide">
	  		<a href="{{ url_for('oneofakind_view') }}"><img class="thumbnail" src="http://ww4.hdnux.com/photos/44/51/64/9608483/3/premium_landscape.jpg"></a>
	  		<h5>One of a Kind</h5>
	  	</div>
	  	<div class="column greatpizza guide">
	  		<a href="{{ url_for('pizza_view') }}"><img class="thumbnail" src="http://ww1.hdnux.com/photos/44/51/77/9609208/3/premium_landscape.jpg"></a>
	  		<h5>Great Pizza</h5>
	  	</div>
		<div class="column topburgers guide">
			<a href="{{ url_for('burger_view') }}"><img class="thumbnail" src="http://ww3.hdnux.com/photos/44/51/70/9608714/3/premium_landscape.jpg"></a>
			<h5>Top Burgers</h5>
		</div>
		<div class="column openlate guide">
			<a href="{{ url_for('late_view') }}"><img class="thumbnail" src="http://ww4.hdnux.com/photos/44/53/11/9613943/3/premium_landscape.jpg"></a>
			<h5>Open Late</h5>
		</div>
		<div class="column exceptionalbars guide">
			<a href="{{ url_for('bars_view') }}"><img class="thumbnail" src="http://ww4.hdnux.com/photos/44/52/01/9609299/3/premium_landscape.jpg"></a>
			<h5>Exceptional Bars</h5>
		</div>
		<div class="column bestofbrunch guide">
			<a href="{{ url_for('brunch_view') }}"><img class="thumbnail" src="http://ww4.hdnux.com/photos/44/51/56/9608103/3/premium_landscape.jpg"></a>
			<h5>Best of Brunch</h5>
		</div>
		<div class="column outdoor guide">
			<a href="{{ url_for('outdoor_view') }}"><img class="thumbnail" src="http://ww3.hdnux.com/photos/44/51/77/9609182/3/premium_landscape.jpg"></a>
			<h5>Outdoor</h5>
		</div>
		<div class="column saturdaylunch guide">
			<a href="{{ url_for('saturdaylunch_view') }}"><img class="thumbnail" src="http://ww2.hdnux.com/photos/44/52/02/9609389/3/premium_landscape.jpg"></a>
			<h5>Saturday Lunch</h5>
		</div>
		<div class="column top100classics guide">
			<a href="{{ url_for('classics_view') }}"><img class="thumbnail" src="http://ww3.hdnux.com/photos/44/52/13/9609922/5/premium_landscape.jpg"></a>
			<h5>Top 100 Classics</h5>
		</div>
		<div class="column historic guide">
			<a href="{{ url_for('historic_view') }}"><img class="thumbnail" src="http://ww4.hdnux.com/photos/44/53/10/9613839/3/premium_landscape.jpg"></a>
			<h5>Historic</h5>
		</div>
		<div class="column new guide">
			<a href="{{ url_for('new_view') }}"><img class="thumbnail" src="http://ww2.hdnux.com/photos/44/51/65/9608533/3/premium_landscape.jpg"></a>
			<h5>New</h5>
		</div>
		<div class="column privaterooms guide">
			<a href="{{ url_for('private_view') }}"><img class="thumbnail" src="http://ww2.hdnux.com/photos/44/51/65/6507471/3/premium_landscape.jpg"></a>
			<h5>Private Rooms</h5>
		</div>
		<div class="column fourstars guide">
			<a href="{{ url_for('fourstars_view') }}"><img class="thumbnail" src="http://ww1.hdnux.com/photos/44/52/04/9609496/3/premium_landscape.jpg"></a>
			<h5>Four Stars</h5>
		</div>
	</div>


{% endblock %}

{% block javascript %}
<script>

  $(document).ready(function() {
    App.init();
  });


	// $(function() {
	//   $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active-page');
	// });

</script>
{% endblock %}
