{% extends 'base.html' %}

{% block title %}Regions | SF Chronicle{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

	<div class="regions">
		<div class="regions-block">
		  <div class="oneofakind guide">One of a Kind</div>
		  <div class="greatpizza guide">Great Pizza</div>
			<div class="topburgers guide">Top Burgers</div>
			<div class="openlate guide">Open Late</div>
			<div class="exceptionalbars guide">Exceptional Bars</div>
			<div class="bestofbrunch guide">Best of Brunch</div>
			<div class="outdoor guide">Outdoor</div>
			<div class="saturdaylunch guide">Saturday Lunch</div>
			<div class="top100classics guide">Top 100 Classics</div>
			<div class="historic guide">Historic</div>
			<div class="views guide">Views</div>
			<div class="new guide">New</div>
			<div class="privaterooms guide">Private Rooms</div>
			<div class="tastingmenus guide">Tasting Menus</div>
			<div class="fourstars guide">Four Stars</div>
		</div>
	</div>


	<div id="top100" class="row small-up-2 large-up-4 restaurants">
		{% for r in restaurants %}
			{% for g in guides %}

			{% if (g.Name == r.Name) %}

				<div class="column restaurant
					OneofaKind{{ g.OneofaKind }}
					GreatPizza{{ g.GreatPizza }}
					TopBurgers{{ g.TopBurgers }}
					OpenLate{{ g.OpenLate }}
					ExceoptionalBars{{ g.ExceptionalBars }}
					BestofBrunch{{ g.BestofBrunch }}
					Outdoor{{ g.Outdoor }}
					SaturdayLunch{{ g.SaturdayLunch }}
					Top100Classics{{ g.Top100Classics }}
					Historic{{ g.Historic }}
					Views{{ g.Views }}
					New{{ g.New }}
					PrivateRooms{{ g.PrivateRooms }}
					TastingMenus{{ g.TastingMenus }}
					FourStars{{ g.FourStars }}
					{{r.slug}}">
					<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="http://placehold.it/300x200"></a>
					<h5>{{ r.Name }}</h5>
				</div>

			{% endif %}

			{% endfor %}
		{% endfor %}

	</div>


{% endblock %}

{% block javascript %}
<script>

  $(document).ready(function() {
    App.init();
  });

	$(".guide").click(function() {
		$(".OneofaKindx").removeClass("active");
		$(".GreatPizzax").removeClass("active");
		$(".TopBurgersx").removeClass("active");
		$(".OpenLatex").removeClass("active");
		$(".ExceptionalBarsx").removeClass("active");
		$(".BestofBrunchx").removeClass("active");
		$(".Outdoorx").removeClass("active");
		$(".SaturdayLunchx").removeClass("active");
		$(".Top100Classicsx").removeClass("active");
		$(".Historicx").removeClass("active");
		$(".Viewsx").removeClass("active");
		$(".Newx").removeClass("active");
		$(".PrivateRoomsx").removeClass("active");
		$(".TastingMenusx").removeClass("active");
		$(".FourStarsx").removeClass("active");
	});

	$(".oneofakind").click(function() {
		console.log("Chose one of a kind.");
		$(".OneofaKindx").addClass("active");
	});
	$(".greatpizza").click(function() {
		console.log("Chose greatpizza.");
		$(".GreatPizzax").addClass("active");
	});
	$(".topburgers").click(function() {
		console.log("Chose topburgers.");
		$(".TopBurgersx").addClass("active");
	});
	$(".openlate").click(function() {
		console.log("Chose openlate.");
		$(".OpenLatex").addClass("active");
	});
	$(".exceptionalbars").click(function() {
		console.log("Chose exceptionalbars.");
		$(".ExceptionalBarsx").addClass("active");
	});
	$(".bestofbrunch").click(function() {
		console.log("Chose bestofbrunch.");
		$(".BestofBrunchx").addClass("active");
	});
	$(".outdoor").click(function() {
		console.log("Chose outdoor.");
		$(".Outdoorx").addClass("active");
	});
	$(".saturdaylunch").click(function() {
		console.log("Chose saturdaylunch.");
		$(".SaturdayLunchx").addClass("active");
	});
	$(".top100classics").click(function() {
		console.log("Chose top100classics.");
		$(".Top100Classicsx").addClass("active");
	});
	$(".historic").click(function() {
		console.log("Chose historic.");
		$(".Historicx").addClass("active");
	});
	$(".views").click(function() {
		console.log("Chose views.");
		$(".Viewsx").addClass("active");
	});
	$(".new").click(function() {
		console.log("Chose new.");
		$(".Newx").addClass("active");
	});
	$(".privaterooms").click(function() {
		console.log("Chose privaterooms.");
		$(".PrivateRoomsx").addClass("active");
	});
	$(".tastingmenus").click(function() {
		console.log("Chose tastingmenus.");
		$(".TastingMenusx").addClass("active");
	});
	$(".fourstars").click(function() {
		console.log("Chose fourstars.");
		$(".FourStarsx").addClass("active");
	});

</script>
{% endblock %}
