{% extends 'base.html' %}

{% block title %}Historic - Guides | SF Chronicle{% endblock %}

{% block hearst_title %}Top 100 Restaurants: Historic{% endblock %}
{% block channelpath %} :: Guide :: Historic{% endblock %}

{% block twitter_url %}{{ url_for('historic_view') }}{% endblock %}
{% block fb_url %}{{ url_for('historic_view') }}{% endblock %}
{% block fb_title %}Guide to historic dining institutions{% endblock %}
{% block fb_description %}Top 100 Restaurants: Michael Bauer shares his top picks for Bay Area restaurants that are more than 50 years old.{% endblock %}
{% block fb_image %}http://projects.sfchronicle.com/2016/top-100-restaurants/social/top100guide_historic.jpg{% endblock %}

{% block head %}

{% endblock %}

{% block header %}
<div id="historic" class="large-12 guides-image">
            
    <a href="http://projects.sfchronicle.com/2016/top-100-restaurants/">        
	    <div class="top100-logo">
	        <img src="{{ url_for('static', filename='images/logo.jpg') }}" />
	    </div>
	</a>

    <div class="cuisine-title">
    	<h1>Historic</h1>
    	<div id="social">
			<a id="twitter-icon" title="Share on Twitter" href="http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Ftop-100-restaurants%2Fguide%2Fhistoric%2F&text={{"Where to find historic Bay Area dining institutions."|urlencode}}%20&hashtags=Top100Restaurants">
				<i class="fa fa-twitter"></i>
			</a>
			<a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Ftop-100-restaurants%2Fguide%2Fhistoric%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
				<i class="fa fa-facebook"></i>
			</a>
			<a id="mail-icon" href="mailto:?subject=Top%20100%20Bay%20Area%20Restaurants%202016%20–%20A%20curated%20guide%20by%20the%20San%20Francisco%20Chronicle.&body=http://sfchronicle.com/Top100restaurants">
			</a>
		</div>

    </div>
</div>
{% endblock %}

{% block content %}

	<div class="regions">
		<ul class="regions-block">
		  	<a href="{{ url_for('oneofakind_view') }}"><li class="oneofakind button">One of a Kind</li></a>
		  	<a href="{{ url_for('pizza_view') }}"><li class="greatpizza button">Great Pizza</li></a>
			<a href="{{ url_for('burger_view') }}"><li class="topburgers button">Top Burgers</li></a>
			<a href="{{ url_for('late_view') }}"><li class="openlate button">Open Late</li></a>
			<a href="{{ url_for('bars_view') }}"><li class="exceptionalbars button">Exceptional Bars</li></a>
			<a href="{{ url_for('brunch_view') }}"><li class="bestofbrunch button">Best of Brunch</li></a>
			<a href="{{ url_for('outdoor_view') }}"><li class="outdoor button">Outdoor</li></a>
			<a href="{{ url_for('saturdaylunch_view') }}"><li class="saturdaylunch button">Saturday Lunch</li></a>
			<a href="{{ url_for('classics_view') }}"><li class="top100classics button">Top 100 Classics</li></a>
			<a href="{{ url_for('historic_view') }}"><li class="historic button">Historic</li></a>
			<a href="{{ url_for('new_view') }}"><li class="new button">New</li></a>
			<a href="{{ url_for('private_view') }}"><li class="privaterooms button">Private Rooms</li></a>
			<a href="{{ url_for('fourstars_view') }}"><li class="fourstars button">Four Stars</li></a>
		</ul>
	</div>


	<div id="top100" class="row small-up-2 medium-up-3 large-up-4 restaurants">

		{% for g in guides %}
			
			{% if (g.Historic == 'x') %}

				{% for r in restaurants %}
					{% if g.Name == r.Name %}
				<div class="column guides">
					<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="{{r.thumbnail}}"></a>
					<h5>{{r.Name}}</h5>
				</div>
				{% endif %}

				{% endfor %}



			{% endif %}

		{% endfor %}

	</div>

	{%include 'components/_footer-wide.html'%}


{% endblock %}

{% block javascript %}
<script>

  $(document).ready(function() {
    App.init();
  });

</script>
{% endblock %}
