{% extends 'base.html' %}

{% block title %}New Web App | SF Chronicle{% endblock %}

{% block head %}

{% endblock %}

{% block social %}

	{% include 'components/social_links.html' %}

{% endblock %}

{% block content %}

	
	<div id="intro-text">
		<div class="large-6 large-offset-3 column">
			<p>The Bay Area loves to eat. Our lust — and respect — for food are centuries old.</p>

			<p>Maybe it’s a legacy of the Gold Rush, when “free lunch” was offered at the brothels that dotted just about every street corner of San Francisco. Because of this link, there’s always been a strong connection between food and carnal pleasure. Dining is more than sustenance — it’s pure, unadulterated joy.</p>
			<p>I’ve been producing the Top 100 Bay Area Restaurants guide for 20 years, but with each edition I marvel anew at the quality of what we have.
			</p>
			<cite>Michael Bauer, Food Critic</cite>	
			<hr>	
		</div>
		
	</div>
	<div id="top100" class="row small-up-2 medium-up-3 large-up-4 restaurants intro">
		{% for r in restaurants %}
		<div class="column restaurant-index">
			<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="{{r.thumbnail}}"></a>
			<h5>{{ r.Name }}</h5>
		</div>
		{% endfor %}
	</div>


{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });
</script>
{% endblock %}
