{% extends 'base.html' %}

{% block title %}Top 100 Restaurants | SF Chronicle{% endblock %}

{% block hearst_title %}Top 100 Restaurants{% endblock %}

{% block head %}

{% endblock %}

{% block header %}
<div id="top-image" class="large-12">
            
    <div class="top100-logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" />
    </div>

    <div class="title">
    	<a class="logo" href="http://www.sfchronicle.com">
			<img src="http://www.sfchronicle.com/img/modules/siteheader/logos/logo_home_large_2x.png" />
    	</a>
    	<h1>TOP 100 RESTAURANTS</h1>
    	{%include 'components/social_links.html'%}

    </div>
</div>
{% endblock %}


{% block content %}

	<div class="mobile-title">
            
		<a class="logo" href="http://www.sfchronicle.com">
	        <img src="http://www.sfchronicle.com/img/modules/siteheader/logos/logo_home_large_2x.png">
	    </a>
	    <h1>TOP 100 RESTAURANTS</h1>

		<div id="social">
	    	<a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//sfchronicle.com/Top100restaurants&amp;text=Explore the best of the Bay Area’s dining scene.%20&amp;hashtags=Top100Restaurants">
	    	   <i class="fa fa-twitter"></i>
	    	</a>
	    	<a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Ftop-100-restaurants%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
			      <i class="fa fa-facebook"></i>
	    	</a>
	      	<a id="mail-icon">
	      		<i class="fa fa-envelope" aria-hidden="true"></i>
	      	</a>
		</div>
    </div>

	<div id="intro-text">
		<div class="large-6 large-offset-3 column">
			<p>The Bay Area loves to eat. Our lust — and respect — for food are centuries old.</p>

			<p>Maybe it’s a legacy of the Gold Rush, when “free lunch” was offered at the brothels that dotted just about every street corner of San Francisco. Because of this link, there’s always been a strong connection between food and carnal pleasure. Dining is more than sustenance — it’s pure, unadulterated joy.</p>
			<p>I’ve been producing the Top 100 Bay Area Restaurants guide for 20 years, but with each edition I marvel anew at the quality of what we have.
			</p>
			<cite>Michael Bauer, Food Critic</cite>	
			<hr>	
		</div>
		
	</div>
	<div id="top100" class="row small-up-2 medium-up-3 large-up-4 restaurants intro">
		{% for r in restaurants %}
		<div class="column restaurant-index">
			<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="{{r.thumbnail}}"></a>
			<h5>{{ r.Name }}</h5>
		</div>
		{% endfor %}
	</div>


{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });
</script>
{% endblock %}
