{% extends 'base.html' %}

{% block title %}Top 100 Restaurants | SF Chronicle{% endblock %}

{% block hearst_title %}Top 100 Restaurants{% endblock %}

{% block head %}

{% endblock %}

{% block header %}
<div id="top-image" class="large-12">

    <div class="top100-logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" />
    </div>

    <div class="title">
    	<a class="logo" href="http://www.sfchronicle.com" target="_blank">
			<img src="http://www.sfchronicle.com/img/modules/siteheader/logos/logo_home_large_2x.png" />
    	</a>
    	<h1>TOP 100 RESTAURANTS</h1>
    	{%include 'components/social_links.html'%}

    </div>
</div>
{% endblock %}


{% block content %}

	<div class="mobile-title">

		<a class="logo" href="http://www.sfchronicle.com">
	        <img src="http://www.sfchronicle.com/img/modules/siteheader/logos/logo_home_large_2x.png">
	    </a>
	    <h1>TOP 100 RESTAURANTS</h1>

		<div id="social">
	    	<a id="twitter-icon" class="mobile-twitter" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//sfchronicle.com/Top100restaurants&amp;text=Explore%20the%20best%20of%20the%20Bay%20Area%27s%20dining%20scene.%20&amp;hashtags=Top100Restaurants">
	    	   <i class="fa fa-twitter"></i>
	    	</a>
	    	<a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Ftop-100-restaurants%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
			      <i class="fa fa-facebook"></i>
	    	</a>
	      	<a id="mail-icon">
	      		<i class="fa fa-envelope" aria-hidden="true"></i>
	      	</a>
		</div>
    </div>

	<div id="intro-text">
		<div class="large-6 large-offset-3 column">
			<p><span>100.</span> That seems like a lot of restaurants, but in San Francisco that number barely covers the creme de la creme. No other area of the country has a more dynamic scene, and it keeps getting better. The proof is in this 21st edition of the Top 100 Restaurants.</p>
			<p>Are you trying to find the perfect pizza with that crisp blistered crust? Check out the list. Need a special-occasion meal that you will remember for the rest of your life? I have several to consider. Or are you just looking for a beautifully executed dining experience? You’ll find 100 here, and all of them have been visited a minimum of three times.</p>
			<p>Whether you go to 1, 10 or 100, I’m interested to learn about your experiences. You can reach me at <a href="mailto:mbauer@sfchronicle.com?subject=Top 100 Restaurants">mbauer@sfchronicle.com</a>. Let’s hope you have 100 or more great experiences this year. I know I did.
			</p>
			<cite>Michael Bauer</cite>
			<hr>
		</div>

	</div>
	<div id="top100" class="row small-up-2 medium-up-3 large-up-4 restaurants intro">
		{% for r in restaurants %}
		<div class="column restaurant-index">
			<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="{{r.thumbnail}}">
			<h5>{{ r.Name }}</h5></a>
		</div>
		{% endfor %}
	</div>


{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });
</script>
{% endblock %}
