{% extends 'base.html' %}

{% block title %}Regions | SF Chronicle{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

	<div class="regions">
		<div class="regions-block">
		  <div class="sf">San Francisco</div>
		  <div class="northbay">North Bay</div>
		  <div class="eastbay">East Bay</div>
			<div class="southbay">South Bay</div>
		</div>
	</div>

	<div id="top100" class="row small-up-2 large-up-4 restaurants">
		{% for r in restaurants %}
		<div class="column restaurant {{ r.Region }}">
			<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="http://placehold.it/300x200"></a>
			<h5>{{ r.Name }}</h5>
		</div>
		{% endfor %}
	</div>


{% endblock %}

{% block javascript %}
<script>

  $(document).ready(function() {
    App.init();
  });

	$(".sf").click(function() {
		console.log("Chose region SF.");
		$(".San").addClass("active");
	});
	$(".northbay").click(function() {
		console.log("Chose region North Bay.");
		$(".North").addClass("active");
	});
	$(".eastbay").click(function() {
		console.log("Chose region East Bay.");
		$(".East").addClass("active");
	});
	$(".southbay").click(function() {
		console.log("Chose region South Bay.");
		$(".South").addClass("active");
	});

</script>
{% endblock %}
