{% extends 'base.html' %}

{% block title %}Regions | SF Chronicle{% endblock %}

{% block hearst_title %}Top 100 Restaurants: Regions{% endblock %}
{% block channelpath %} :: Regions{% endblock %}

{% block twitter_url %}{{ url_for('regions_view') }}{% endblock %}
{% block fb_url %}{{ url_for('regions_view') }}{% endblock %}
{% block fb_title %}Top 100 Restaurants | By region{% endblock %}
{% block fb_description %}Explore the best of Bay Area dining, from right in your own neighborhood to across the bay.{% endblock %}

{% block head %}

{% endblock %}

{% block header %}
<div id="region-image" class="large-12">
            
    <div class="top100-logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" />
    </div>

    <div class="cuisine-title">
    	<h1>Regions</h1>
    	{% include 'components/cuisines_social.html' %}

    </div>
</div>
{% endblock %}

{% block content %}

	<div class="regions">
		<ul class="regions-block">
		 	<li class="sf button">San Francisco</li>
		  	<li class="northbay button">North Bay</li>
		  	<li class="eastbay button">East Bay</li>
			<li class="southbay button">South Bay</li>
		</ul>
	</div>
	<div class="subregions">
		<ul class="subregions-block">
			<ul class="sf-subregion">
				<li class="button-regions bernalheights san-subregion subregion">Bernal Heights</li>
				<li class="button-regions castro san-subregion subregion">Castro</li>
	      		<li class="button-regions chinatown san-subregion subregion">Chinatown</li>
				<li class="button-regions embarcadero san-subregion subregion">Embarcadero</li>
				<li class="button-regions financialdistrict san-subregion subregion">Financial District</li>
				<li class="button-regions hayesvalley san-subregion subregion">Hayes Valley</li>
				<li class="button-regions marina san-subregion subregion">Marina/Cow Hollow</li>
				<li class="button-regions mission san-subregion subregion">Mission</li>
				<li class="button-regions noevalley san-subregion subregion">Noe Valley</li>
				<li class="button-regions northbeach san-subregion subregion">North Beach</li>
				<li class="button-regions presidio san-subregion subregion">Presidio</li>
				<li class="button-regions pacificheights san-subregion subregion">Pacific Heights</li>
				<li class="button-regions russianhill san-subregion subregion">Russian Hill/Nob Hill</li>
				<li class="button-regions soma san-subregion subregion">SoMa</li>
				<li class="button-regions tenderloin san-subregion subregion">Tenderloin</li>
				<li class="button-regions richmond san-subregion subregion">The Richmond</li>
				<li class="button-regions westernaddition san-subregion subregion">Western Addition</li>
			</ul>
			<li class="button-regions fairfax north-subregion subregion">Fairfax</li>
			<li class="button-regions healdsburg north-subregion subregion">Healdsburg</li>
			<li class="button-regions napa north-subregion subregion">Napa</li>
			<li class="button-regions olema north-subregion subregion">Olema</li>
			<li class="button-regions sausalito north-subregion subregion">Sausalito</li>
     		<li class="button-regions sonoma north-subregion subregion">Sonoma</li>
			<li class="button-regions sthelena north-subregion subregion">St. Helena</li>
			<li class="button-regions yountville north-subregion subregion">Yountville</li>

			<li class="button-regions berkeley east-subregion subregion">Berkeley</li>
			<li class="button-regions oakland east-subregion subregion">Oakland</li>
			<li class="button-regions portcosta east-subregion subregion">Port Costa</li>

			<li class="button-regions burlingame south-subregion subregion">Burlingame</li>
			<li class="button-regions losgatos south-subregion subregion">Los Gatos</li>

		</ul>
	</div>

	<div id="top100" class="row small-up-2 medium-up-3 large-up-4 restaurants">
		{% for r in restaurants %}
		<div class="columns restaurant {{r.Region}} {{r.SubRegion}} {{r.SubRegion|lower}}">
			<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="{{r.thumbnail}}"></a>
			<h5>{{ r.Name }}</h5>
		</div>
		{% endfor %}
	</div>


{% endblock %}

{% block javascript %}
<script>

  $(document).ready(function() {
    App.init();
    $(".restaurant").addClass("active");
  });

	// filtering based on region
	$(".sf").click(function() {
    window.location.hash = '/sf';
    $(".restaurant").removeClass("active");
    $(".North").removeClass("active");
    $(".East").removeClass("active");
    $(".South").removeClass("active");
    $(".Francisco").addClass("active");
		$(".san-subregion").addClass("active");
		$(".north-subregion").removeClass("active");
		$(".east-subregion").removeClass("active");
		$(".south-subregion").removeClass("active");
	});
	$(".northbay").click(function() {
    window.location.hash = '/northbay';
    $(".restaurant").removeClass("active");
    $(".Francisco").removeClass("active");
    $(".East").removeClass("active");
    $(".South").removeClass("active");
    $(".North").addClass("active");
		$(".north-subregion").addClass("active");
		$(".san-subregion").removeClass("active");
		$(".east-subregion").removeClass("active");
		$(".south-subregion").removeClass("active");
	});
	$(".eastbay").click(function() {
    window.location.hash = '/eastbay';
    $(".restaurant").removeClass("active");
    $(".Francisco").removeClass("active");
    $(".North").removeClass("active");
    $(".South").removeClass("active");
    $(".East").addClass("active");
		$(".east-subregion").addClass("active");
		$(".north-subregion").removeClass("active");
		$(".san-subregion").removeClass("active");
		$(".south-subregion").removeClass("active");
	});
	$(".southbay").click(function() {
    window.location.hash = '/northbay';
    $(".restaurant").removeClass("active");
    $(".Francisco").removeClass("active");
    $(".North").removeClass("active");
    $(".East").removeClass("active");
    $(".South").addClass("active");
		$(".south-subregion").addClass("active");
		$(".north-subregion").removeClass("active");
		$(".east-subregion").removeClass("active");
		$(".san-subregion").removeClass("active");
	});

	$(".subregion").click(function() {
		$(".Bernal").removeClass("active");
		$(".Castro").removeClass("active");
    $(".Chinatown").removeClass("active");
		$(".Embarcadero").removeClass("active");
		$(".Financial").removeClass("active");
		$(".Hayes").removeClass("active");
		$(".Hollow").removeClass("active");
		$(".Mission").removeClass("active");
		$(".Noe").removeClass("active");
		$(".Beach").removeClass("active");
		$(".Presidio").removeClass("active");
		$(".Heights").removeClass("active");
		$(".Russian").removeClass("active");
		$(".SoMa").removeClass("active");
		$(".Tenderloin").removeClass("active");
		$(".Richmond").removeClass("active");
		$(".Addition").removeClass("active");
		$(".Fairfax").removeClass("active");
		$(".Healdsburg").removeClass("active");
		$(".Napa").removeClass("active");
		$(".Olema").removeClass("active");
		$(".Sausalito").removeClass("active");
    $(".Sonoma").removeClass("active");
		$(".Helena").removeClass("active");
		$(".Yountville").removeClass("active");
		$(".Berkeley").removeClass("active");
		$(".Oakland").removeClass("active");
		$(".Port").removeClass("active");
		$(".Burlingame").removeClass("active");
		$(".Gatos").removeClass("active");
	});


	// filtering based on subregion

	// san francisco
	$(".bernalheights").click(function() {
		$(".Bernal").addClass("active");
		window.location.hash = '/sf/bernal';
	});
	$(".castro").click(function() {
		$(".Castro").addClass("active");
		window.location.hash = '/sf/castro';
	});
  $(".chinatown").click(function() {
    $(".Chinatown").addClass("active");
    window.location.hash = '/sf/chinatown';
  });
	$(".embarcadero").click(function() {
		$(".Embarcadero").addClass("active");
		window.location.hash = '/sf/embarcadero';
	});
	$(".financialdistrict").click(function() {
		$(".Financial").addClass("active");
		window.location.hash = '/sf/financialdistrict';

	});
	$(".hayesvalley").click(function() {
		$(".Hayes").addClass("active");
		window.location.hash = '/sf/hayesvalley';
	});
	$(".marina").click(function() {
		$(".Hollow").addClass("active");
		window.location.hash = '/sf/marina';
	});
	$(".mission").click(function() {
		$(".Mission").addClass("active");
		window.location.hash = '/sf/mission';
	});
	$(".noevalley").click(function() {
		$(".Noe").addClass("active");
		window.location.hash = '/sf/noevalley';
	});
	$(".northbeach").click(function() {
		$(".Beach").addClass("active");
		window.location.hash = '/sf/northbeach';
	});
	$(".presidio").click(function() {
		$(".Presidio").addClass("active");
		window.location.hash = '/sf/presidio';
	});
	$(".pacificheights").click(function() {
		$(".Heights").addClass("active");
		window.location.hash = '/sf/pacificheights';
	});
	$(".russianhill").click(function() {
		$(".Russian").addClass("active");
		window.location.hash = '/sf/russianhill';
	});
	$(".soma").click(function() {
		$(".SoMa").addClass("active");
		window.location.hash = '/sf/soma';
	});
	$(".tenderloin").click(function() {
		$(".Tenderloin").addClass("active");
		window.location.hash = '/sf/tenderloin';
	});
	$(".richmond").click(function() {
		$(".Richmond").addClass("active");
		window.location.hash = '/sf/richmond';
	});
	$(".westernaddition").click(function() {
		$(".Addition").addClass("active");
		window.location.hash = '/sf/westernaddition';
	});


	// north bay
	$(".fairfax").click(function() {
		$(".Fairfax").addClass("active");
		window.location.hash = '/northbay/fairfax';
	});
	$(".healdsburg").click(function() {
		$(".Healdsburg").addClass("active");
		window.location.hash = '/northbay/healdsburg';
	});
	$(".larkspur").click(function() {
		$(".Larkspur").addClass("active");
		window.location.hash = '/northbay/larkspur';
	});
	$(".napa").click(function() {
		$(".Napa").addClass("active");
		window.location.hash = '/northbay/napa';
	});
	$(".olema").click(function() {
		$(".Olema").addClass("active");
		window.location.hash = '/northbay/olema';
	});
	$(".sausalito").click(function() {
		$(".Sausalito").addClass("active");
		window.location.hash = '/northbay/sausalito';
	});
  $(".sonoma").click(function() {
    $(".Sonoma").addClass("active");
    window.location.hash = '/northbay/sonoma';
  });
	$(".sthelena").click(function() {
		$(".Helena").addClass("active");
		window.location.hash = '/northbay/sthelena';
	});
	$(".yountville").click(function() {
		$(".Yountville").addClass("active");
		window.location.hash = '/northbay/yountville';
	});

	// east bay
	$(".berkeley").click(function() {
		$(".Berkeley").addClass("active");
		window.location.hash = '/eastbay/berkeley';
	});
	$(".oakland").click(function() {
		$(".Oakland").addClass("active");
		window.location.hash = '/eastbay/oakland';
	});
	$(".portcosta").click(function() {
		$(".Port").addClass("active");
		window.location.hash = '/eastbay/portcosta';
	});

	// south bay
	$(".burlingame").click(function() {
		$(".Burlingame").addClass("active");
		window.location.hash = '/southbay/burlingame';
	});
	$(".losgatos").click(function() {
		$(".Gatos").addClass("active");
		window.location.hash = '/southbay/losgatos';
	});

	$('.button').on('click',function(){
  		$('.button').removeClass('region-active');
  		$(this).addClass('region-active');
	});

	$('.button-regions').on('click',function(){
  		$('.button-regions').removeClass('subregion-active');
  		$(this).addClass('subregion-active');
	});

	var url = window.location.hash;
	var hash;
	if (url.indexOf('/') > -1){
	    hash = url.split('/')[1];
	}

	$(function(){
		$('.'+hash).each(function(){
			$(this).addClass('region-active');
		});
	});

	$(document).foundation();


</script>
{% endblock %}
