{% extends 'base.html' %}

{% block title %}{{restaurant.Name}} | SF Chronicle{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div id="restaurant">
<div class="container">

	<div class="rest-img">
		<h1>{{restaurant.Name}}</h1>
	    <p>By: Michael Bauer</p>
	    <div class="fotorama" data-width="100%"
     data-ratio="3/2" data-arrows="always" data-nav="false">
	    	<img src="{{restaurant.photo1}}" alt="" />
	    	<img src="{{restaurant.photo2}}" alt="" />
	    </div>
	  
	</div>

	<div class="content">
		<div id="infobox">

    		<div id="map">
       			<a href="https://www.google.com/maps/place/{{restaurant.GoogleAddress}}"><img src="https://maps.googleapis.com/maps/api/staticmap?size=265x240&maptype=roadmap\&markers=size:mid%7Ccolor:red%7C{{restaurant.GoogleAddress}}&zoom=15&key=AIzaSyAbXyrIZ7FcFFqiAEdopB2-tZ8ce1ezh_s" />
				</a>
			</div>

		    <p><i class="fa fa-link"> </i> <a href="{{restaurant.Website}}">{{restaurant.Website}}</a></p>
		    <p><i class="fa fa-phone"></i> {{restaurant.Phone}}</p>
		    <p><i class="fa fa-bell"></i>{{restaurant.Noise}}</p>
  		
  		</div>

	  	<div id="article">
	    
		    <p>Shelley Lindgren and her crew exposed the cuisine of southern Italy to Northern California when they opened this restaurant 11 years ago in the Marina. Two years ago they added an outpost in Oakland. The restaurants have different — but equally adept — menus, orchestrated by Rocky Maselli, who creates dishes such as pasta with goat sugo, broccoli rabe and crisp bread crumbs; or spaghetti with sea urchin, lemon and chervil.</p> 
		    <p>The restaurants also feature nine Neapolitan pizzas, and the desserts are worth the calories. Lindgren has compiled an amazing Italian wine list; many labels may be unfamiliar, but there’s always someone on the floor to lead diners to exciting discoveries. The Rockridge location features exceptional cocktails masterminded by Lindgren’s husband, Greg Lindgren, who owns Rye and 15 Romolo.</p>
		    <p class="specialties"><span>Specialties: </span>{{restaurant.Specialties}}</p>
	  	</div>

	</div>

</div>
</div>

{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });
</script>
{% endblock %}
