{% extends 'base.html' %}

{% block title %}{{restaurant.Name}} | SF Chronicle{% endblock %}

{% block hearst_title %}Top 100 Restaurants: {{restaurant.Name|safe}}{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block channelpath %} :: Restaurant :: {{restaurant.Name|safe}} {% endblock %}
{% block author %}Michael Bauer{% endblock %}

{% block twitter_url %}{{ url_for('restaurant_view', slug=restaurant.slug) }}{% endblock %}
{% block fb_url %}{{ url_for('restaurant_view', slug=restaurant.slug) }}{% endblock %}
{% block fb_title %}{{restaurant.FacebookTitle}}{% endblock %}
{% block fb_description %}{{restaurant.FacebookDescription}}{% endblock %}
{% block page_description %}{{restaurant.FacebookDescription}}{% endblock %}
{% block fb_image %}{{restaurant.FacebookImage}}{% endblock %}

{% block header %}
<div class="article-logo">
	<a href="{{ url_for ('index') }}">
	    <img src="{{ url_for('static', filename='images/logo.png') }}" />
    </a>
</div>
{% endblock %}

{% block content %}

<div id="restaurant">
<div class="container">

	<div class="rest-img">
		<h1>{{restaurant.Name}}</h1>
		<div id="social">
			<a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//projects.sfchronicle.com/2016/top-100-restaurants/{{restaurant.slug}}/&amp;text={{restaurant.TwitterText|urlencode}}%20&amp;hashtags=Top100Restaurants">
				<i class="fa fa-twitter"></i>
			</a>
			<a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Ftop-100-restaurants%2F{{restaurant.slug}}%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
				<i class="fa fa-facebook"></i>
			</a>
			<a id="mail-icon" href="mailto:?subject=Top 100 Bay Area Restaurants 2016 – A curated guide by the San Francisco Chronicle.&body=http://sfchronicle.com/Top100restaurants">
				<i class="fa fa-envelope" aria-hidden="true"></i>
			</a>
		</div><br><br>

	    <div class="fotorama" data-width="100%" data-arrows="always" data-nav="false">
	    	<img src="{{restaurant.photo1}}" alt="" />
	    	<img src="{{restaurant.photo2}}" alt="" />
	    </div>

	</div>

	<div class="content">
		<div id="infobox">

    		<div id="map">
    			<iframe
				  width="270"
				  height="250"
				  frameborder="0" style="border:0"
				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCUHnEWTjMUWg6pGXGUqz6-yNwZhnmL80w&q={{restaurant.GoogleAddress}}&attribution_source=Google+Maps+Embed+API" allowfullscreen>
				</iframe>
			</div><br>

		    <p>{% if restaurant.Website %}<i class="fa fa-link"> </i> <a href="{{restaurant.Website}}">{{restaurant.Website}}</a></p>{% endif %}
		    <p><i class="fa fa-phone"></i> {{restaurant.Phone}}</p>
		    {% if restaurant.Noise == 'ONE BELL' %}
                <p>Noise Level: <i class="fa fa-bell"></i></p>
            {% elif restaurant.Noise == 'TWO BELLS' %}
                <p>Noise Level: <i class="fa fa-bell"></i>
            	   <i class="fa fa-bell"></i></p>
            {% elif restaurant.Noise == 'THREE BELLS' %}
                <p>Noise Level: <i class="fa fa-bell"></i>
            	   <i class="fa fa-bell"></i>
            	   <i class="fa fa-bell"></i></p>
            {% elif restaurant.Noise == 'FOUR BELLS' %}
                <p>Noise Level: <i class="fa fa-bell"></i>
            	   <i class="fa fa-bell"></i>
            	   <i class="fa fa-bell"></i>
            	   <i class="fa fa-bell"></i></p>
            {% elif restaurant.Noise == 'BOMB' %}
                <p>Noise Level: <i class="fa fa-bomb"></i></p>
          	{% endif %}

				<p><i class="fa fa-money"></i> {{restaurant.Prices}}</p>
				<p><i class="fa fa-clock-o"></i> {{restaurant.Meals}}</p>

		    {% if restaurant.Fullreviewlink %}
			    <p><a target="_blank" href="{{restaurant.Fullreviewlink}}">Full Review</a></p>
		    {% endif %}

		    {% if restaurant.OtherLocationAddress %}
          		<p>Other Location: {{restaurant.otherlocationname}}<br>
          			{{restaurant.OtherLocationAddress}}<br>
          			{{restaurant.OtherLocationPhone}}<br>
          			<a href="{{restaurant.OtherLocationWebsite}}" target="_blank">{{restaurant.OtherLocationWebsite}}</a><br>
          		 </p>
      		{% endif %}   		

  		</div>

	  	<div id="article">
		    <p>{{restaurant.article}}</p>
		    <p class="specialties"><span>Specialties: </span>{{restaurant.Specialties}}</p>
	  	</div>

	</div>

</div>
</div>

{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });
</script>
{% endblock %}
