{% extends 'base.html' %}

{% block title %}Search | SF Chronicle{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div class="search-container">
  <span class="search">Search by restaurant name or cuisine:</span>
  <input class="input" type="text" placeholder="Press Enter to search">
</div>

<div id="top100" class="row small-up-2 large-up-4 restaurants">
	{% for r in restaurants %}
	<div class="column restaurant {{r.Cuisine}} {{r.Region}} {{r.slug}} active">
		<a href="{{ url_for('restaurant_view', slug=r.slug) }}"><img class="thumbnail" src="http://placehold.it/300x200"></a>
		<h5>{{ r.Name }}</h5>
	</div>
	{% endfor %}
</div>


{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });

	$("input").change(function() {
		var filter = $(this).val().toLowerCase();
		var class_match = 0;

		$(".restaurant").filter(function() {
			var classes = this.className.split(" ");
			for (var i=0; i< classes.length; i++) {

				var current_class = classes[i].toLowerCase();

				if (classes[i] != "column" && classes[i] != "restaurant") {
					if ( current_class.match(filter)) {
						class_match = class_match + 1;
					}
				}
			}
			if (class_match > 0) {
				$(this).addClass("active");
			} else {
				$(this).removeClass("active");
			}
			class_match = 0;

		});

	});

</script>
{% endblock %}
