<footer class="callout large secondary">
    <div class="row">
        <div class="large-12">
            <div class="large-4 column">
              <a href="/"><img style="width: 300px;" src="{{ url_for('static', filename='images/logo.jpg') }}" /></a>
              <div class="sf-callout"><br><p style="font-size: 15px;text-align: left;"><a href="http://www.sfchronicle.com/ultimate_access/?ipid=top100restaurants/" target="_blank">Subscribe to The San Francisco Chronicle</p></a></div>
            </div>
            
            <div class="large-8 column">
              <p>Written by Michael Bauer</p>
              <p>Edited by Kitty Morgan & Paolo Lucchesi</p>
              <p>Images by John Storey, Randi Lynn Beach, Liz Hafalia, Eric Risberg, Brant Ward, Craig Lee, Carlos Avila Gonzalez, Amy Osborne, Michael Short, Kirsten Aguilar, Alex Washburn, Jason Henry, Russell Yip, John Lee, Laura Morton, Preston Gannaway, Mike Kepka, Brian A. Pounds, Noah Berger, Bloomberg, Paul Chinn & Mike Kepka</p>
              <p>Web development by Emma O'Neill & Lucio Villa</p>
              <p>Designed by Lucio Villa</p>
            </div>
        </div>

    </div>
</footer>