<nav class="sections">
    <ul>
		<li class="pipes top100-nav"> <a href="{{ url_for('index') }}">Top 100</a></li>
		<li class="pipes"> <a href="{{ url_for('cuisines_view') }}">Cuisines</a></li>
		<li class="pipes"> <a href="{{ url_for('regions_view') }}">Regions</a></li>
		<li class="pipes"> <a href="{{ url_for('guides_view') }}">Guides</a></li>
		<li class="pipes search">
			<a href="{{ url_for('search_view') }}"><i class="fa fa-search"></i> Search the list</a>
		</li>
		<li class="pipes mobile-search">
			<a href="{{ url_for('search_view') }}"><i class="fa fa-search"></i></a>
		</li>
    </ul>
</nav>