<div id="social">
    	<a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//projects.sfchronicle.com/2016/top-100-restaurants/regions&text=Explore%20the%20best%20of%20the%20Bay%20Area%20dining%20scene%20by%20region.%20&hashtags=Top100Restaurants">
    	   <i class="fa fa-twitter"></i>
    	</a>
    	<a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Ftop-100-restaurants%2Fregions%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
		      <i class="fa fa-facebook"></i>
    	</a>
      <a id="mail-icon" href="mailto:?subject=Top%20100%20Bay%20Area%20Restaurants%202016%20–%20A%20curated%20guide%20by%20the%20San%20Francisco%20Chronicle.&body=http://sfchronicle.com/Top100restaurants">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
</div>
