<div id="social">
	<a id="twitter-icon" title="Share on Twitter" onclick="tweet()">
		<i class="fa fa-twitter"></i>
	</a>
	<a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Ftop-100-restaurants%2Fsearch%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
		<i class="fa fa-facebook"></i>
	</a>
	<a id="mail-icon" href="mailto:?subject=Search%20the%20best%20of%20the%20Bay%20Area%27s%20dining%20scene.&body=http://projects.sfchronicle.com/2016/top-100-restaurants/regions/">
	    <i class="fa fa-envelope" aria-hidden="true"></i>
	</a>
</div>


<script>
function tweet() {
    window.open('https://twitter.com/share?url='+escape(window.location.href)+'&text='+ "Search%20the%20best%20of%20the%20Bay%20Area%27s%20dining%20scene."+'&hashtags='+'Top100restaurants', '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
    return false; 
}
</script>
    


