<div id="social">
    	<a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//projects.sfchronicle.com/2016/top100-restuarants/search/&text=Top 100 Restaurants 2016%20&hashtags=Top100">
    	   <i class="fa fa-twitter"></i>
    	</a>
    	<a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Ftop100-restaurants%2Fsearch%2F', 'facebook-share-dialog', 'width=626,height=436'); return false;">
		      <i class="fa fa-facebook"></i>
    	</a>
      <a id="mail-icon">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
</div>
